

.all-vehicle-requests-container {
  margin: 1.5rem 0.5rem;

  .all-vehicle-requests-table {
    margin: 1rem 0;
  }
}
.App {
  justify-content: center;
  text-align: center;
  margin-left: 2vw;
}
.h1{
  margin-top: 1vh;
  text-align: center;
  /* justify-content: center; */
}
.text{
  margin-left:3vw
}
.table{
  margin-left:1vw;
  margin-right:1vw
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
